.round-img {
    height: 25vh;
    width: 25vh;
    border-radius: 100%;
}

.header-content {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
}

.marg-5{
    margin: 5px;
}