<div class="header-section">
    <div class="continer">
        <div class="header-content">
            <img class="round-img" src="assets/images/me.jpeg" >
            <img src="assets/images/logo.png" style="margin: 50px; width: 35%;">
            <!-- <div style="margin: 50px;"> -->
                <!-- <h1>Mathias Voelcker</h1>
                <p>Software Engineer</p>
                    <a class="marg-5" href="https://github.com/mathiasVoelcker"><img src="assets/images/GitHub-Mark-32px.png"></a>
                    <a class="marg-5" href="https://www.linkedin.com/in/mathiasvoelcker/"><img src="assets/images/LI-In-Bug.png" style="height: 32px;"></a> -->
            <!-- </div> -->
        </div>
    </div>
</div>